* {
    margin:0;
    padding:0 ;
}
p{
    margin-top: 70px;
    margin-left: 50px;
}
/*COMENTARIO NO CSS*/
#imagem{
    position: absolute;
    left:70px;
    top:600px;
    width: 500px;
    height: 300px;
}
p{
    color: blue;
    font-size: 200px;
}
#paragrafo {
    color: green;
    font-size: 200px;
}